.navbar1 {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 2vmax;
    width: 130vmax;
    margin-right: 3vmax;
    background-color: aliceblue;
    margin-left: 3vmax;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.vv>h1{
    margin-top: -0.7vmax;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-left: 2vmax;
    
}
.navbar-brand{
    margin-bottom: 1vmax;
    text-decoration: none;
    color: black;
    margin-top: 1vmax;
}
.collapse{
    display: flex;
    flex-direction: row;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 1vmax;
    margin-right: 35vmax;
    list-style: none;
}
.nav-link {
    display: flex;
    text-decoration: none;
    color: black    ;
    justify-content: space-between;
    margin-left: 1vmax;
    margin-right: 1.3vmax;
}
.nav-link:hover{
    transform: scaleX(0.9);
}
.form-inline{
    margin-left: 40vmax;
    padding: 1vmax;
}
.form-inline>input:hover{
    border-color: aquamarine;
    border-radius: 2vmax solid green;
}
.form-inline>button{
    background-color: aliceblue;
    border-radius: 0.3vmax;
}
.form-inline>button:hover{
    background-color: gray;
    border-radius: 0.5vmax;
}
.nav-item1{
    border: 2px solid black;
    border-radius: 0.3vmax;
    background-color: aliceblue;
    margin-left: 2vmax;
    height: 2vmax;
    width: 6vmax;
}
.nav-item1:hover{
    background-color: gray;
    border-radius: 0.5vmax;
}
.form-control:hover{
    border: 2px solid black;
    border-radius: 0.1vmax;
}

.form-control:hover{
    border: 2px solid black;
    border-radius: 0.3vmax;
}
.dropdown>button{
    background-color: aliceblue;
    border: none;
    font-size: 1vmax;
}
.dropdown>button:hover{
    transform: scaleX(0.9);
}
.dropdown-content{
    font-size: 1vmax;
    
}
.dropdown-content>a:hover{
    transform: scaleX(0.9);
}

@media Screen and (max-width:1000px){
    .nav-item1{
        height: 2.5vmax;
        width: 7vmax;

    }
    .navbar{
        width: 200%;
        background-color: aliceblue;
    }
    .dropdown>button{
        font-size: 1.7vmax;
    }
}

@media Screen and (max-width:850px){
    .nav-item1{
        height: 4vmax;
        width: 9vmax;
        font-size: 2.4vmax;
    }
    .nav-item>a{
        font-size: 2vmax;
    }
    .dropdown>button{
        font-size: 1.9vmax;
    }
}
@media Screen and (max-width:400px){
    .nav-item1{
        height: 4vmax;
        width: 9vmax;
        font-size: 2.4vmax;
   
    }
    .nav-item>a{
        font-size: 3vmax;
    }
    .navbar-nav{
        margin-right: 2vmax;
    }
    .dropdown>button{
        font-size: 3vmax;
        margin-top: 0.5vmax;
    }
}