.containercards1 {
    margin-bottom: 2px;
    margin-top: -4vmax;
  }
  
  .cardBody {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:2px;
    
  }
  
  .dropdown-button {
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    text-align: left;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-button:focus {
    outline: none;
  }
 
  .cards {
    margin-top: -2vmax;
    display: flex;
    flex-direction: row;
  }
  
  .productCard {
    display: block;
    margin-bottom: 10px;
    
    text-decoration: none;
    color: #333;
    margin-left: 2vmax;
  }
  
  .productCard:hover {
    background-color: #f9f9f9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  