
.checkList2 {
    margin-top: 2vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    background-color: antiquewhite;
}
#item{
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-thickness: 1.3px;
}
.row2>Form>h3{
    text-decoration: underline;
}
.fomehade>form{
    text-align: center;
    margin-top: 1vmax;
}
.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row2>Form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 4vmax;
    margin-top: 2vmax;

}